
    

    <main>
    </main>

    <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>JEM External Service</strong>
            <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
              >2024</a
            >.
          </p>
        </div>
      </footer>
</body>
</html>
